@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bglojadacrianca.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
}

.imglogo{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 135px;
    height: 95px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 5px 10px;
    /* border-radius: 130px; */
    cursor: pointer;
}

.imglogo:hover{
    opacity: 0.8;
}

h1{
    color: #000;
    text-align: center;
    margin: 15px;
    font-family: 'Vollkorn SC', sans-serif;
    font-size: 25px;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    display: none;
    width: 65%;
    margin: 5px auto;
    border: rgb(6, 83, 128) dashed 1px;
}

.goBack{
    display: flex;
    margin: 40px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 5px auto;
    grid-gap: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 6px 6px rgba(238, 193, 79, 0) ;
    opacity: 0.7;
}

.ativo{
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 1px 6px 6px rgb(255, 255, 255);
    transition: 1.4s;
    opacity: 1;
}

.ativo:hover{
    box-shadow: 1px 6px 6px yellow;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    justify-self: center;
}

.tituloHamburguer{
    margin-top: 5px;
    grid-column: 1/4;
    align-items: center;
    justify-self: left;
    font-family: 'Cinzel', serif;
    font-size: 13px;
    font-weight: bold;
    color: yellow;
}

.descricaoHamburguer{
    grid-column: 2/4;
    grid-row: 2;
    font-family: 'Vollkorn', sans-serif;
    /* font-weight: bold; */
    font-size: 13px;
    /* margin-top: 10px; */
}

#docTable{
    margin: 0 5px;
}

#docTable > .container > select{
    grid-column: 1;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    background-color: #002656;
    border: #002656;
    padding: 6px;
    font-family: sans-serif;
}

.subtotalValor{
    font-family: 'Vollkorn SC', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 5px;
    align-self: center;
    justify-self: center;
}

button{
    background-color: #002656;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 10px;
    border-radius: 4px;
    border: #002656;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

#recebeEmCasa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    grid-gap: 5px;
}

#vaiPegarLa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    grid-gap: 5px;
}

#vaiPegarLa > p{
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 12px;
}


.revisaDados{
    color: #000;
    margin-left: 20px;
    font-family: 'Volkhov', serif;
    font-size: 14px;
    font-weight: bold;
}

.aproxima{
    text-align: center;
}

.infoDados{
    color: #000;
    font-family: 'Volkhov', serif;
    font-size: 14px;
    font-weight: bold;
}

.aviso{
    color: yellow;
    grid-column: 1/3;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
}

/* .reviseSuas{
    font-size: 13px;
    text-align: center;
} */

.formatxt{
    color: #000;
    font-family: 'Volkhov', serif;
    font-size: 12px;
    font-weight: bold;
}

.secConfirma > .pg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 10px auto;
    grid-gap: 5px;
}

.secConfirma > .pg > p{
    text-align: center;
    
}

.secConfirma > .pg > select{
    grid-column: 1;
    width: 150px;
    text-align: center;
}

.secConfirma > .pg > input{
    width: 100px;
    height: 30px;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 1px solid #002656;
    border-radius: 3px;
    font-family: 'Volkhov', serif;
    font-size: 12px;
    font-weight: bold;
}

.ob{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 5px auto;
    grid-gap: 5px;
}

.ob > textarea{
    grid-column: 1;
    border: 1px #002656;
    border: 3px;
    border-radius: 4px;
}

.ob > p{
    color: #000;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 12px;
    font-weight: bold;
}

.ob > button{
    color: #fff;
    width: 120px;
    height: 30px;
    align-self: center;
    justify-self: center;
    font-size: 10px;
    font-weight: bolder;
}

.naoehcli > p{
    text-align: center;
    margin: 25px 0;
    font-family: 'Volkhov', serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.msgFim{
    text-align: center;
    color: #000;
    margin-right: 120px;
}

.btnFim{
    display: flex;
    margin: 0 auto;
    height: 60px;
    width: 140px;
    cursor: pointer;
    margin-top: 30px;
}