@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');

*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
}


body {
    align-items: center;
    background-image: url('../images/bglojadacrianca.jpg');
    background-size: cover;
    
}

.imglogoMain{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 135px;
    height: 95px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 5px 10px;
    /* border-radius: 130px; */
    cursor: pointer;
}

.imglogoMain:hover{
    opacity: 0.8;
}

.imglogo{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 135px;
    height: 95px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 5px 10px;
    /* border-radius: 130px; */
}

#intro{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    /* background-color: rgba(177, 177, 177, 0.95); */
    padding: 5px 10px;
    margin: 0 15px;
}

div > label{
    color: #000;
}

.fraseInicial{
    color: #000;
    margin: 0 10px;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 12px;
}

#formularioParaSalvar > form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px auto;
}

#formularioParaSalvar > form > input,
#formularioParaSalvar > form > select,
#formularioParaSalvar > form > .endnro > input{
    border: solid 1px black;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
    background-color: #fff;
}

#formularioParaSalvar > form > input > #localizacep{
    width: 80px;
}

#formularioParaSalvar > form > button{
    width: 180px; margin: 10px auto;text-transform: uppercase;
    background-color: #002656;
    border: 1px solid #002656;
    color: white;
    border-radius: 4px;
    padding: 5px 0;
}

label{
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 13px;
}


ul{
    list-style: none;
    margin: 20px auto;
    max-width: 100%;
    width: 350px;
}

.listaCardapio{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
}

.listaCardapio:hover{
    background-color: rgba(255, 255, 255, 0.308);
    transition: 0.65s;
}

.listaCardapio > a > div > img{
    width: 60px;
    height: 60px;
    justify-self: center;
    align-self: center;
}

.listaCardapio > a{
    text-decoration: none;
    color: #000;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    /* font-weight: bolder; */
    /* text-align: center; */
    font-size: 14px;
}

.listaCardapio > a:hover{
    color: yellow;
    transition: 1s;
}

#menu > li > a > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu > li > a > div > p {
    justify-self: flex-start;
    align-self: center;
}

footer{
    text-align: center;
    font-weight: 700;
}

footer > ul > li > a{
    text-decoration: none;
    font-family: 'Poppins', serif;
    color: #000;
}

footer > ul > li > a > div{
    display: flex;
    justify-content: center;
} 

footer > ul > li > a > div > img{
    margin: 0 10px;
}

footer > ul > li > a > div > p{
    /* justify-self: center;
    align-self: center;
    overflow: hidden; */
    /* position: relative; */
    /* background: linear-gradient(90deg,rgba(0, 0, 0, 0.582),#fff,rgba(0, 0, 0, 0.582));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0); */
    font-size: 15px;
    color: #000;
    margin-top: 3px;
}

.mostraPedidoConfTemp{
    width: 230px;
    height: 200px;
    display: flex;
    margin: 0 auto;
}

.submenu{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
}

#nomePedido{
    font-family: 'Cinzel', serif;
    font-size: 13px;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin: 7px auto;
}

#descricaoDoPed{
    color: #000;
    font-family: 'Vollkorn', sans-serif;
    font-size: 13px;
    text-align: center;
    margin: 8px 10px;
}

.obsConftemp{
    color: #fff;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

#insereObs{
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.719);
    border: solid 1px #262626;
    border-radius: 4px;
    font-family: 'Vollkorn', serif;
    font-size: 13px;
}

#confirmaInsere{
    display: flex;
    margin: 15px auto;
    background-color: #002656;
    border: #002656;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

@keyframes animate
{
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}

@media(max-width: 768px){
    #intro{
        font-size: 15px;
    }
}