@import url('https://fonts.googleapis.com/css?family=Alata:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');


*{
    font-family: 'Volkhov', Arial;
    font-weight: bold;
}


body{
    background-image: url('../images/bglojadacrianca.jpg');
    color: red;
}

.imglogo{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 135px;
    height: 95px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 5px 10px;
    /* border-radius: 130px; */
    cursor: pointer;
}

.imglogo:hover{
    opacity: 0.8;
}

h1{
    color: #fff;
    margin: 15px;
    font-family: 'Vollkorn SC', sans-serif;
    font-size: 25px;
}

table {
    min-width: 70%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table, tr, th, td{
    padding: 7px 0;
    color: white;
    border-collapse: collapse;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.137);
}

th{
    color: yellow;
    padding: 10px 10px;
}

td{
    font-size: 12px;
}

.item{
    font-size: 12px;
}

.descricaoDoHam{
    font-size: 10px;
}

#total, #totalTXT{
    color: yellow;
}

button{
    background-color: #002656;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

td > button{
    background-color: red;
}

.btn-goBack, .goBack, .btn-avancaForm, .btn-comprarMais, #finalizarPedido, #confirmarPedido{
    margin: 20px 10px;
}

.btn-avancaForm, #finalizarPedido, #confirmarPedido{
    float: right;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.btn-comprarMais{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

#confirmarPedido{
    position: relative;
    bottom: 120px;
    right: 700px;
}

form{
    margin-left: 5%;
}

input{
    display: block;
    width: 45%;
    margin: 10px 0 5px 0;
    border: solid black;
    border-radius: 6px;
    padding: 10px;
}

select{
    margin-top: 5px;
    color: white;
    background-color: black;
    border: black;
    padding: 6px;
    font-family: sans-serif;
}

textarea{
    border: solid black;
    border-radius: 6px;
}

#troco{
    width: 33%;
}

.logoform{
    width: 40%;
    height: 75%;
    background-color: #fff;
    border-radius: 10%;
    padding: 20px 10px;
    position: absolute;
    top: 80px;
    left: 700px;
}

form{
    background-color: rgba(255, 217, 0, 0.753);
    padding: 20px 10px;
    border-radius: 7px;
}

.msgFim{
    background-color: rgba(255, 217, 0, 0.753);
    padding: 10px;
    color: black;
    text-align: justify;
}

.btnFim{
    display: flex;
    margin: 20px auto;
}

@media(max-width: 768px){
    input{
    display: block;
    width: 85%;
    margin: 1rem 0 .5rem;
    border: solid black;
    border-radius: 6px;
    padding: 2%;
}

#confirmarPedido{
    right: 5px;
}

.logoform{
    display: none;
}

}